@media (min-width: 344px) and (max-width: 715px) {
    #background-video {
        display: none; 
    }
    
    #background-image {
        display: block; 
    }
    
    .content, header, main, section, button, a, ul, li {
        position: relative;
        z-index: 1;
    }
    
    .titulo-pagina-inicial {
        color: #520c00;
        text-align: center;
        padding: 20px;
    }
    
    .titulo-pagina-inicial h1 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
        font-size: 50px;
        margin-top: 10%;
    }
    
    .titulo-pagina-inicial h2 {
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-weight: 100;
        font-size: 25px;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    #secoes {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    #secoes button {
        width: 100%;
        margin: 10px 0;
        border: 2px solid #ebf2f2;
        filter: invert(1) brightness(2);
    }

    #redes ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #redes li {
        margin: 10px 0;

    }

    #redes img {
        width: 25%;
        filter: invert(0) brightness(1);
        margin-top: -20px;
    }
}

@media (min-width: 716px) and (max-width: 912px){
    
    .titulo-pagina-inicial {
        text-align: center;
        padding: 20px;
        margin-top: 15%;
    }
    
    .titulo-pagina-inicial h1 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
        font-size: 100px;
        margin-top: 10%;
    }
    
    .titulo-pagina-inicial h2 {
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-weight: 100;
        font-size: 60px;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    #secoes {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    #secoes button {
        width: 100%;
        margin: 10px 0;
        border: 2px solid #ebf2f2;
        font-size: 40px;
    }

    #redes img {
        width: 30%;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    header {
        height: 100%; 
    }

    #background-video {
        width: 100%; 
        height: auto;
        top: 0;
        left: 0;
        transform: none;
        transition: all 0.5s ease; 
    }
    
    .content {
        text-align: center;
    }
    
    .titulo-pagina-inicial {
        color: #e0e4ce;
        text-align: center;
        margin-top: -8%;
    }
    
    .titulo-pagina-inicial h1 {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 500;
        font-size: 24px;
    }
    
    .titulo-pagina-inicial h2 {
        font-family: "Edu AU VIC WA NT Hand", cursive;
        font-weight: 100;
        font-size: 17px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #secoes {
        width: 85%;
        flex-direction: row;
        justify-content: center;
        margin-top: -13%;
        transition: all 0.5s ease;
    }

    #secoes button {
        width: 100%;
        margin: 10px 0;
        font-size: 14px;
        padding: 10px 5px;
        margin-left: 3%;
    }

    #secoes button:not(:last-child) {
        margin-left: 3%;
    }

    #redes {
        margin-top: -5%;
    }
    #redes ul {
        transition: all 0.5s ease;
    }
    
    #redes li {
        margin: 10px 0;
    }

    #redes img {
        width: 12%;
    }
}